# Dataset - ignore contents but keep trainfold CSV
data/*
!data/trainfold*.csv
*.zip

# Outputs
outputs/

# CSV files (except trainfold)
*.csv
!data/trainfold*.csv

# Python
.venv/
__pycache__/
*.py[cod]
*.pyo
.ipynb_checkpoints/

# Credentials
kaggle.json

PlantTraits2024/

pretrained